.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.search {
    width: 25px;
    height: 25px;
}

.div_logo {
    margin-left: 5%;
    align-items: center;
}

.header_last {
    margin-right: 5%;
}

.div_logo, .header_middle, .header_last {
    display: flex;
    flex-direction: row;
}

.header_middle {
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

#login_text {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 10px;
}

#logo_text {
    color: purple;
    margin-left: 10px;
    font-size: 1.125rem;
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    color: purple;
}

.image-container {
    position: relative;
    display: inline-block;
    text-align: center;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.image-container .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, sans-serif;
    padding: 10px;
    border-radius: 5px;
}

#middle_text_first, #middle_text_second {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-align: left;
}

#middle_text_third {
    font-size: 1.0625rem;
}

#middle_button {
    background-color: purple;
    color: white;
    font-size: 1.0625rem;
    font-weight: bold;
    border-radius: 10px;
    padding: 7px;
    margin-top: 30px;
    display: block;
    cursor: pointer;
}

.Last {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

#last_first {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10px;
    position: relative;
    display: inline-block;
    margin-bottom: 70px;
}

#last_first::before, #last_first::after {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 3px;
    border-radius: 1px;
}

#last_first::before {
    left: 0;
    width: 20%;
    background-color: orange;
}

#last_first::after {
    right: 0;
    width: 20%;
    background-color: red;
}

.university-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin: 10px;
}

.university-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: left;
    position: relative;
}

.university-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.university-name {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
}

.university-description {
    font-size: 1.125rem;
    margin-bottom: 10px;
}

.ashesi, .knust, .academic, .legon {
    border-left: 10px solid currentColor;
    border-bottom: 10px solid currentColor;
    border-right: 1px solid currentColor;
}

#see_more {
    color: royalblue;
    font-size: 1.125rem;
    font-weight: bold;
    text-align: right;
    margin-top: 60px;
}

.bottom, .below {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottom {
    background-color: #14275A;
}

.below {
    background-color: white;
}

.bottom .left, .below .left {
    font-size: 1.0625rem;
    margin-left: 5%;
}

.bottom .right, .below .right {
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#head {
    font-size: 1.5625rem;
    font-weight: bold;
}

#image_bottom, #image_below {
    width: 100%;
}

#bottom_button, #below_button {
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
}

#bottom_button {
    background-color: white;
    color: black;
}

#below_button {
    background-color: purple;
    color: white;
}

.footer {
    background-color: #0D1F39;
    color: white;
}

.footer_logo {
    display: flex;
    flex-direction: row;
}

#footer_text {
    font-size: 1.25rem;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 35px;
}

#footer_image {
    margin-top: 20px;
    margin-left: 30px;
}

#first {
    margin-top: 40px;
}

.footer_paragraph {
    margin-left: 30px;
    font-size: 1.25rem;
}

.icon {
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

.media {
    margin-top: 100px;
}

#first_logo {
    margin-left: 30px;
}

body, html {
    margin: 0;
    padding: 0;
}


@media (max-width: 600px) {
    .Header {
        flex-direction: column;
        align-items: flex-start;
    }
    .div_logo, .header_middle, .header_last {
        flex-direction: column;
        align-items: flex-start;
    }
    .logo {
        width: 40px;
        height: 40px;
    }
    .search {
        width: 20px;
        height: 20px;
    }
    .header_last {
        margin-right: 20px;
    }
    .university-grid {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}
