#scholarship_big_text
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -210%);
    background-color: white;
    color: black;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

body, html
{
    font-family:  Arial, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.scholarship_last
{
    display: flex;
    flex-direction: row;
    background-color: #EFEEEB;
    margin-top: -5px;
    align-items: flex-start;
}

.scholarship_left
{
    width: 20%;
    background-color: #FFFBFB;
    padding-left: 20px;
}

.scholarship_right
{
    width: 80%;
    flex-grow: 1;
}

#scholarship_first_p
{
    font-size: 16px;
    color: purple;
    font-weight: bold;
}

#scholarship_second_p, #scholarship_third_p
{
    font-size: 16px;
    color: black;
    font-weight: bold;
}

#scholarship_search_icon
{
    height: 15px;
    width: 15px;
    position: absolute;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(450%, -50%);
}

.scholarship_image_container
{
    position: relative;
    display: inline-block;
}

#scholarship_search
{
    border-radius: 30px;
    height: 15px;
    padding: 5px;
    padding-left: 10px;
    position: relative;
}

.row
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: -20px;
}

.scholarship-grid 
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 100px;
    padding-bottom: 30px;
}
  
.scholarship-card 
{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
  
.scholarship-card h3 
{
    font-size: 18px;
    margin-bottom: 10px;
}
  
.scholarship-card p 
{
    font-size: 14px;
    margin-bottom: 10px;
    text-align: left;
}
  
.scholarship-card img 
{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
  
.scholarship-card .scholars, .scholarship-card .deadline 
{
    font-size: 14px;
    margin-top: 5px;
    text-align: left;
}

.progress 
{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
  
.label 
{
    width: 80px;
}
  
.progress-bar 
{
    flex-grow: 1;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    height: 10px;
    margin: 0 5px;
}
  
.progress-bar-fill 
{
    height: 100%;
    border-radius: 5px;
    transition: width 0.5s;
}
  
.value 
{
    font-size: 12px;
}