#scholarship_big_text
{
    color: black;
    font-size: 25px;
    font-weight: bolder;
    background-color: white;
}

.scholarship_last
{
    display: flex;
    flex-direction: row;
}

.scholarship_left
{
    width: 20%;
    background-color: white;
    margin-left: 20px;
}

.scholarship_right
{
    width: 80%;
}

#scholarship_first_p
{
    font-size: 16px;
    color: purple;
    font-weight: bold;
}

#scholarship_second_p, #scholarship_third_p
{
    font-size: 16px;
    color: black;
    font-weight: bold;
}

#scholarship_search_icon
{
    height: 15px;
    width: 15px;
    position: absolute;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(450%, -50%);
}

.scholarship_image_container
{
    position: relative;
    display: inline-block;
}

#scholarship_search
{
    border-radius: 30px;
    height: 15px;
    padding: 5px;
    padding-left: 10px;
    position: relative;
}